body {
    font-family: Avenir-Book, sans-serif;
    color: #212429;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 100%;
    background-position: 0 -75px;
    background-repeat: no-repeat;
    -webkit-animation: fadein 1s ease;
    animation: fadein 1s ease;
    padding: 20px
}

a {
    text-decoration: none;
    color: #212429;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}
a:hover {
    color: #4285F4;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}
h1 {
    font-family: Avenir-Heavy, sans-serif;
    font-size: 26px;
    line-height: 40px
}
h1 .light {
    font-family: Avenir-Light;
    font-weight: 400
}
h3 {
    font-weight: 300;
}
h4 {
    font-family: Avenir-Heavy, sans-serif;
    font-size: 14px;
    color: #4285F4;
    margin-bottom: 20px;
    margin-top: 25px
}
p {
    font-family: Avenir-Book, Avenir-Light, sans-serif;
    font-size: 12px;
    color: #222427;
}


.experience-item .h3 {
    margin-bottom: -10px !important;
}


.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

#profile-pic {
    flex: inherit;
    border-radius: 50%;
    margin: 15px 20px 20px 0;
    width: 100px;
    height: 100px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: -20px;
    margin-right: -20px;
}

.intro {
    flex: 3;
}

.contact-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -35px;
}

.contact-info ul li {
    font-family: Avenir-Medium, sans-serif;
    font-size: 12px;
    color: #4285F4;
    padding-bottom: 5px;
}

.icon-item {
    margin-right: 3px;
}




.main-info {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
}

.side-bar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    margin-right: 20px;
    flex: 1;
    flex-direction: column;
}

#piechart {
    width: 200px;
    height: 200px;
}

.info {
    flex: 2;
}

.w3-border {
    margin-right: 20px;
    margin-top: -10px;
}

.knowledge-list {
    line-height: 18px;
    margin-right: 20px;
}

.knowledge ul {
    margin-left: -20px;
    font-family: Avenir-Book, Avenir-Light, sans-serif;
    font-size: 12px;
    color: #222427;
}

.frameworks ul {
    list-style: none;
    margin-right: 20px;
    overflow: hidden;
    padding: 0;
    font-family: Avenir-Book, Avenir-Light, sans-serif;
    font-size: 12px;
    color: #222427;
}

.frameworks ul li {
    background: #f2f2f2;
    border-radius: 5px;
    color: #222427;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 3px 0 3px;
    position: relative;
    margin-bottom: 5px;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.education-item {
    margin-bottom: 15px;
    margin-right: 20px;
}

.education-item p {
    margin: 0;
}

.education-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-item {
    margin-bottom: 20px
}

.experience-item h2 {
    margin: 0;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 18px;
    color: #222427
}

.experience-item h3 {
    margin-top: 0;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 13px;
    color: #a0a3a8
}

.exp-title {
    display: flex;
    justify-content: space-between;
}

.exp-title p {
    margin: 5px;
}

.experience-item ul {
    margin-left: -20px;
}

.experience-item ul li {
    font-family: Avenir-Book, Avenir-Light, sans-serif;
    font-size: 12px;
    color: #222427;
}

.experience-item ul li a {
    color: #5433FF;
}

.projects ul {
    margin-left: -20px;
}

.projects ul li {
    font-family: Avenir-Book, Avenir-Light, sans-serif;
    font-size: 12px;
    color: #222427;
}


@media only screen and (max-width: 500px) {
    body {
        background-size: 100%;
        background-position: 0 0
    }
    .one-half:first-of-type {
        margin-right: 0;
        margin-bottom: 50px
    }
    section.intro {
        margin: 20px 0 40px 0
    }
    ul li {
        display: block;
        padding: 10px 10px 10px 0;
        margin: 5px 0 5px 0
    }
    .right-col {
        width: 100%;
        margin-bottom: 10px
    }
    .left-col {
        width: 100%;
        margin-bottom: 5px
    }
    h4 {
        margin-bottom: 20px
    }
    section.education,
    section.experience {
        margin-bottom: 40px
    }
    section.footer a {
        display: block;
        padding: 10px
    }
}
